<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Mania</title>

    <!-- Bootstrap -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <!-- CSS -->

    <link rel="stylesheet" href="/css/style2.css">
    <link rel="stylesheet" href="/css/style3.css">
</head>

<body>

    <header class="encabezado">
        <div class="contenedor-navegacion">
            <div class="contenido-navegacion contenedor">
                <center>
                    <br><br><br>
                    <div class="logo">
                        <h2><span class="rojo">Pizza</span> <span class="verde">Manía</span></h2>
                        <img id="avatar" src="logo.png" title="avatar">
                    </div>
                </center>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#" style="color: #efefef">Inicio</a>
                <a href="#" style="color: #efefef">Promociones</a>
                <a href="#" style="color: #efefef">Contacto</a>
                <a href="#" style="color: #efefef">Carrito</a>
            </div>
        </div>

        <div>
            <div class="contenido-header">
                <div class="contenedor-encabezado">
                    <div class="texto-encabezado">
                        <h2>Welcome</h2>
                    </div>
                    <video autoplay loop muted>
                        <source src="PizzaManía.mp4">
                    </video>
                </div>
            </div>
        </div>
    </header>

    <br>

    <center>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card">
                    <div class="image-box">
                        <img src="Margherita.jpg" width="50">
                    </div>
                    <div class="content">
                        <h2>Margherita</h2>
                        <p>Clásica pizza italiana con salsa de tomate, mozzarella fresca y albahaca.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="image-box">
                        <img src="Pepperoni.jpg">
                    </div>
                    <div class="content">
                        <h2>Pepperoni</h2>
                        <p>Base de queso mozzarella y salsa de tomate, cubierta con rodajas de pepperoni.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="image-box">
                        <img src="Margherita.jpg">
                    </div>
                    <div class="content">
                        <h2>Hawaiana</h2>
                        <p>Mezcla de piña, jamón y queso mozzarella sobre una base de salsa de tomate.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="image-box">
                        <img src="Margherita.jpg">
                    </div>
                    <div class="content">
                        <h2>Cuatro Quesos</h2>
                        <p>Combinación de mozzarella, gorgonzola, parmesano y queso fontina.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="image-box">
                        <img src="Margherita.jpg">
                    </div>
                    <div class="content">
                        <h2>Barbacoa</h2>
                        <p>Salsa barbacoa, pollo a la parrilla, cebolla roja y mozzarella.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="image-box">
                        <img src="Margherita.jpg">
                    </div>
                    <div class="content">
                        <h2>Vegetariana</h2>
                        <p>Verduras frescas como pimientos, champiñones, cebolla, aceitunas y queso mozzarella.</p>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card">
                    <div class="image-box">
                        <img src="Margherita.jpg">
                    </div>
                    <div class="content">
                        <h2>Napolitana</h2>
                        <p>Salsa de tomate, anchoas, alcaparras, ajo y orégano.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="image-box">
                        <img src="Margherita.jpg">
                    </div>
                    <div class="content">
                        <h2>Capricciosa</h2>
                        <p>Jamón, champiñones, alcachofas, aceitunas y mozzarella.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="image-box">
                        <img src="Margherita.jpg">
                    </div>
                    <div class="content">
                        <h2>Prosciutto e Funghi</h2>
                        <p>Jamón y champiñones frescos sobre una base de queso y tomate.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="image-box">
                        <img src="Margherita.jpg">
                    </div>
                    <div class="content">
                        <h2>Carbonara</h2>
                        <p>Crema, huevo, panceta y queso parmesano, inspirada en la pasta carbonara.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="image-box">
                        <img src="Margherita.jpg">
                    </div>
                    <div class="content">
                        <h2>Diavola</h2>
                        <p>Salsa de tomate, mozzarella, salami picante y pimientos.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="image-box">
                        <img src="Margherita.jpg">
                    </div>
                    <div class="content">
                        <h2>Quattro Stagioni</h2>
                        <p>Pizza dividida en cuatro secciones con ingredientes que representan las estaciones del año: jamón, champiñones, alcachofas y aceitunas.</p>
                    </div>
                </div>
            </div>
        </div>
    </center>


    <br>

    <footer class="footer">
        <p>Todos los derechos reservador &copy;Pizza Manía</p>
    </footer>
</body>

</html>